PORT=5000
JWT_SECRET=jwt_secret_for_development
MONGODB_URI="your_mongodb_uri"


REDDIT_CLIENT_ID="your_reddit_client_id"
REDDIT_CLIENT_SECRET="your_reddit_client_secret"

FRONTEND_URL=your_frontend_url,
